.container {
  border-radius: 20px;
  background-color: #232323;
  color: white;
}

.border-radius-100 {
  border-radius: 100%;
}

.color-grey {
  color: #979797;
}

.date-container {
  border-radius: 5px;
  background-color: #484848;
  width: fit-content;
  padding: 0.2rem 0.6rem;
}

.italic {
  font-style: italic;
}

.font-size-19px {
  font-size: 19px;
}